<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.example.appdatmon">

    <!-- Permissions -->
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.CAMERA" />

    <!-- Camera -->
    <uses-feature
        android:name="android.hardware.camera"
        android:required="true" />

    <application
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.AppDatMon"
        android:usesCleartextTraffic="true"
        tools:targetApi="31">

        <!-- Launcher -->
        <activity
            android:name=".ui.auth.LoginActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <!-- Huy -->
        <activity
            android:name=".ui.admin.AdminActivity"
            android:exported="false" />

        <activity
            android:name=".ui.staff.StaffActivity"
            android:exported="false" />

        <activity
            android:name=".ui.admin.ChiTietDanhMucFragment"
            android:exported="false" />

        <activity
            android:name=".ui.auth.RegisterActivity"
            android:exported="false" />

        <activity
            android:name=".MainActivity"
            android:exported="false" />

        <activity
            android:name=".ActivityAdmin"
            android:exported="false" />

        <!-- Thinh -->
        <activity
            android:name=".BookingActivity"
            android:exported="false" />

        <activity
            android:name=".ScanQRActivity"
            android:exported="false" />

        <activity
            android:name=".MenuActivity"
            android:exported="false" />

        <activity
            android:name=".CartActivity"
            android:exported="false" />


        <activity
            android:name=".ProfileActivity"
            android:exported="false" />

        <activity
            android:name=".ReviewActivity"
            android:exported="false" />

        <!-- Menu -->
        <activity
            android:name=".StoryActivity"
            android:exported="false" />

        <activity
            android:name=".ChefActivity"
            android:exported="false" />

        <activity
            android:name=".FoodActivity"
            android:exported="false" />

        <activity
            android:name=".SpaceActivity"
            android:exported="false" />

        <activity
            android:name=".ContactActivity"
            android:exported="false" />

    </application>

</manifest>